<h1 id="aboutMeHeader">About Me</h1>
<h1>Welcome!</h1>
<div id="allContent" class="container">
    <!--About ME-->
    <div id="aboutMe" class="container">
        <div class="row">
            <div id="leftSide" class="col-md-6 col-sm-6 col-xs-12">
                <p class="hi">Hi! My name is Julie </p>
                <br>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <br>
                <p></p>
            </div>
            <div id="rightSide" class="col-md-6 col-sm-6 col-xs-12">
                <img src="img/IMG_4630.JPG" class="img-responsive">
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of About Me container-->
    <!--Logos-->
    <div id="logos" class="container">
        <div id="languages">
            <p>I currently work with the following</p>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/angular-js.sh.png"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/bootstrap-logo.png"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/css3.png"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/HTML_Logo.png"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/jQurery.gif"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/js.sh.png"></div>
        </div>
    </div>
    <!--end of logos-->
    <!--Resume-->
    <div id="resume" class="container">
        <h1>Skills</h1>
        <p><span>Programming:</span>
            <div id="skillsFE">
                <p>Front End:HTML5, CSS3, JavaScript, JQuery, Bootstrap, AngularJS, AJAX, REST</p>
                <p>Backend: Basic Node and Express for creating REST APIs</p>
                <p>Misc: Wordpress CMS, Microsoft Office Suite, Sass</p>
            </div>
            <!--End of skillsFE-->
            <p><span>Administrative:</span> Invoice processing, receptionist and web administration </p>
            <p><span>Interpersonal:</span> Ability to work well in teams and efficient at time management</p>
            <p><span>Language:</span> Spanish (intermediate), Korean (intermediate)</p>
            <div id="experience">
                <h1>Experience</h1>
                <p><span>Instructor, Boolean Girls Camp (June 2017-August 2017)</span></p>
                <p>Instructed adolescent children the basics of object oriented fundamentals through the creation of individual projects</p>
                <p><span>Administrative Assistant, Fidelity Mechanical Services (March 2016-May 2017)</span></p>
                <p> Managed administrative duties for the branch to ensure communication between departments and customers was efficient
                    <p>Performed invoice processing for company project transactions and acted as a liaison between the branch and accounts payable located in the main headquarters </p>
                    <p><span>Residential Hall Desk Staff, University of Maryland, Baltimore County(August 2012-December 2013)</span></p>
                    <p>Operated front desk responsibilities for on-campus residential halls to maintain organization and uphold Residential Life policies </p>
                    <p>Assisted residents with housing concerns and safety, and provided an overall welcoming atmosphere for students</p>
                    <p>Learned to manage academic priorities with Desk Staff duties, along with personal activities</p>
            </div>
            <!--end of experience -->
            <h1>Education</h1><br>
            <span><p>University of Maryland, Baltimore County</p></span>
            <p>December 2017-B.S. in Financial Economics with a certificate in Accounting</p>
    </div>
    <!--end of resume-->
    <!--Scroll To Top-->
    <div class="scrollToTop" ng-click="topFunction()">
        <i class="fa fa-angle-up" aria-hidden="true" ng-click></i>
        <p>Back to Top</p>
    </div>
    <!--end of Scroll To Top-->
</div>
<!--end of allContent-->