<h1 id="allProjectsHeader">Project List</h1>
<h1>All projects are made with AngularJS!</h1>
<p>click the image to view the project</p>
<div id="allProjectsHtml" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Wikipedia Search Page</h1>
            <p>Get request to Wikipedia API</p>
            <a ui-sref="wikiProject"><img src="img/wikipage.JPG" class="img-thumbnail img-responsive"></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Dog Pen App</h1>
            <p>description</p>
            <a ui-sref="dogPen"><img src="img/dogapp.JPG" class="img-thumbnail img-responsive"></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Random Quote Generator</h1>
            <p>description</p>
            <a ui-sref="randomQuoteGenerator"><img src="img/htdhtdr.JPG" class="img-thumbnail img-responsive"></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>To Do List</h1>
            <p>description</p>
            <a ui-sref="toDoList"><img src="img/todo.JPG" class="img-thumbnail img-responsive"></a>
        </div>
    </div><!--end of row -->
</div><!--end of allProjectsHtml container-->
<!--Scroll to Top-->
<div class="scrollToTop" ng-click="topFunction()">
    <i class="fa fa-angle-up" aria-hidden="true" ng-click></i>
    <p>Back to Top</p>
</div><!--end of Scroll to Top-->