<h1 id="photogall">Photography Gallery</h1>
<p id="description">When I'm not coding, my favorite hobby is to take pictures of friends and food!</p>
<div class="container">
  <div class="row">
    <!--image 1-->
    <div class="col-md-8 col-sm-12 col-xs-12"><a href=""><img class="img-thumbnail img-responsive"src="img/IMG_4935-2.jpg" data-toggle="modal" data-target="#image1"></a></div>
    <div class="modal fade" id="image1" role="dialog">
      <div class="modal-dialog">
        <!--  image 1 Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
          <div class="modal-body">
            <img src="img/IMG_4935-2.jpg">
          </div>
          <div class="modal-caption">
            <p>CAPTION</p>
          </div>
        </div>
      </div>
    </div> <!--end of image 1-->
    <!--image 2-->
    <div class="col-md-4 col-sm-12 col-xs-12"><a href=""><img class="img-thumbnail img-responsive"src="img/IMG_2375.JPG" data-toggle="modal" data-target="#image2"></a></div>
    <div class="modal fade" id="image2" role="dialog">
      <div class="modal-dialog">
        <!--  image 2 Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <div class="modal-body">
            <img src="img/IMG_2375.JPG">
          </div>
          <div class="modal-caption">
            <p>CAPTION</p>
          </div>
        </div>
      </div>
    </div> <!--end of image 2-->
  </div> <!--end of row 1-->


  <div class="row">
    <!--image 3-->
    <div class="col-md-4 col-sm-12 col-xs-12"><a href=""><img class="img-thumbnail img-responsive"src="img/IMG_2837.JPG" data-toggle="modal" data-target="#image3"></a></div>
    <div class="modal fade" id="image3" role="dialog">
      <div class="modal-dialog">
        <!--  image 3 Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <div class="modal-body">
            <img src="img/IMG_2837.JPG">
          </div>
          <div class="modal-caption">
            <p>CAPTION</p>
          </div>
        </div>
      </div>
    </div> <!--end of image 3-->
    <!--image 4-->
    <div class="col-md-4 col-sm-12 col-xs-12"><a href=""><img class="img-thumbnail img-responsive"src="img/IMG_3772.JPG" data-toggle="modal" data-target="#image4"></a></div>
    <div class="modal fade" id="image4" role="dialog">
      <div class="modal-dialog">
        <!--  image 4 Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <div class="modal-body">
            <img src="img/IMG_3772.JPG">
          </div>
          <div class="modal-caption">
            <p>CAPTION</p>
          </div>
        </div>
      </div>
    </div><!--end of image 4-->
    <!--image 5-->
    <div class="col-md-4 col-sm-12 col-xs-12"><a href=""><img class="img-thumbnail img-responsive"src="img/IMG_3325.JPG" data-toggle="modal" data-target="#image5"></a></div>
    <div class="modal fade" id="image5" role="dialog">
      <div class="modal-dialog">
        <!--  image 5 Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <div class="modal-body">
            <img src="img/IMG_3325.JPG">
          </div>
          <div class="modal-caption">
            <p>CAPTION</p>
          </div>
        </div>
      </div>
    </div><!--end of image 5-->
  </div><!--end of row 2-->
  
  
  <div class="row">
    <!--image 6-->
    <div class="col-md-4 col-sm-12 col-xs-12"><a href=""><img class="img-thumbnail img-responsive"src="img/IMG_2287.JPG" data-toggle="modal" data-target="#image6"></a></div>
    <div class="modal fade" id="image6" role="dialog">
      <div class="modal-dialog">
        <!--  image 6 Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <div class="modal-body">
            <img src="img/IMG_2287.JPG">
          </div>
          <div class="modal-caption">
            <p>CAPTION</p>
          </div>
        </div>
      </div>
    </div><!--end of image 6-->
    <!--image 7-->
    <div class="col-md-4 col-sm-12 col-xs-12"><a href=""><img class="img-thumbnail img-responsive"src="img/IMG_2445.JPG" data-toggle="modal" data-target="#image7"></a></div>
    <div class="modal fade" id="image7" role="dialog">
      <div class="modal-dialog">
        <!--  image 7 Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <div class="modal-body">
            <img src="img/IMG_2445.JPG">
          </div>
          <div class="modal-caption">
            <p>CAPTION</p>
          </div>
        </div>
      </div>
    </div><!--end of image 7-->
    <!--image 8-->
    <div class="col-md-4 col-sm-12 col-xs-12"><a href=""><img class="img-thumbnail img-responsive"src="img/IMG_3749.JPG" data-toggle="modal" data-target="#image8"></a></div>
    <div class="modal fade" id="image8" role="dialog">
      <div class="modal-dialog">
        <!--  image 8 Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <div class="modal-body">
            <img src="img/IMG_3749.JPG">
          </div>
          <div class="modal-caption">
            <p>CAPTION</p>
          </div>
        </div>
      </div>
    </div><!--end of image 8-->
  </div><!--end of row3-->
  
  <div class="row">
    <!--image 9-->
    <div class="col-md-4 col-sm-12 col-xs-12"><a href=""><img class="img-thumbnail img-responsive"src="img/FullSizeRender.jpg" data-toggle="modal" data-target="#image9"></a></div>
    <div class="modal fade" id="image9" role="dialog">
      <div class="modal-dialog">
        <!--  image 9 Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <div class="modal-body">
            <img src="img/FullSizeRender.jpg">
          </div>
          <div class="modal-caption">
            <p>CAPTION</p>
          </div>
        </div>
      </div>
    </div><!--end of image 9-->
    <!--image 10-->
    <div class="col-md-8 col-sm-12 col-xs-12"><a href=""><img class="img-thumbnail img-responsive"src="img/IMG_4218.JPG" data-toggle="modal" data-target="#image10"></a></div>
    <div class="modal fade" id="image10" role="dialog">
      <div class="modal-dialog">
        <!--  image 10 Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <div class="modal-body">
            <img src="img/IMG_4218.JPG">
          </div>
          <div class="modal-caption">
            <p>CAPTION</p>
          </div>
        </div>
      </div>
    </div><!--end of image 10-->
  </div><!--end of row4-->
</div><!--end of container-->

<!--Scroll to Top-->
<div class="scrollToTop" ng-click="topFunction()">
  <i class="fa fa-angle-up" aria-hidden="true" ng-click></i>
  <p>Back to Top</p>
</div> <!--end of Scroll to Top-->