<div id="inputArea" ng-controller="wikiProjectController">
 <img src="img/1200px-Wikipedia-logo-v2.svg.png" class="img-responsive">
 <p id="title">Wikipedia Article Search</p>

 <input type="text" ng-model="searchInput" placeholder="Search" ng-enter="searchWiki()">

 <!--<input type="submit" ng-click="searchWiki()">-->
 <i class="fa fa-search" aria-hidden="true" ng-click="searchWiki()"></i>
 <br>
 <br>
 <button class="button" type="submit" ng-click="randomArticleSearch()">Random Article</button>

 <!--function results-->
 <div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-12">
    <ul>
     <a href="https://en.wikipedia.org/wiki/{{result.title}}">
      <li class="results" ng-repeat="result in results" target="_blank">
       <h1>{{result.title}}</h1>
     </a>
     <p>{{result.terms.description[0]}}</p>
     </li>
    </ul>
   </div>
   <!--end of results col-->
  </div>
  <!--end of results row-->
 </div>
 <!--end of results container-->

 <!--random article search-->
 <div id="randomArticle" class="container">
  <div class="row">
   <div class="col-sm-12 col-md-12 results" ng-repeat="article in articleResults" ng-if="$index < 1" target="_blank">
    <a href="https://en.wikipedia.org/wiki/{{article.title}}">
     <h1>{{articleResults.title}}</h1>
    </a>
   </div>
   <!--end of col-->
  </div>
  <!--end of row-->
 </div>
 <!--end of randomArticle container-->
</div>
<!--end of inputArea -->

<!--Scroll to Top-->
<div class="scrollToTop" ng-click="topFunction()">
 <i class="fa fa-angle-up" aria-hidden="true" ng-click></i>
 <p>Back to Top</p>
</div>
<!--end of Scroll to Top-->